

.col-1 {width: 8.33%;}
     .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
     .col-5 {width: 41.66%;}
     .col-6 {width:50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width:66.66%;}
     .col-9 {width: 75%;}
     .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}

     /* navbar start*/

      .nav-logo{
      text-align: left;

      }
      .nav-heading h1{
     text-align: right;


      }
      .navbar-manu{
     flex-direction: row;
     justify-content: flex-end;

      }
      .navbar-manu a{
     padding: 5px;
     background-color: transparent;

      }
       /* end*/
        /* profile start*/
    .profile .top-wearther-icon{
   
    right: 100px;
    width: 120px;
    transition: width 2s transform 2s;
 }
  
   .profile .top-wearther-icon:hover{
     width: 140px;
   }
   .profile-desc p{
    color: gray;
    margin: 0 auto;
   text-align: center;
  margin-bottom: 10px ;
  width: 50%
  }
   .profile .buttom-wearther-icon{
    bottom: 20px;
    left: 100px;
    width: 120px;
    transition: width 2s transform 2s;
 }
   .profile .buttom-wearther-icon:hover{
     width: 140px;
   }
   .profile::after{
   content: '';
   clear: both;
   display: table;

   }

         /* end*/

          /* about me start*/

     .about-me-image{
     margin-top: 100px;

     }     
   .about-me-image img{
    height: 270px;
    width: 250px;

   }
   .aboutme-desc p{
    text-align: left;

   }



           /*about me end*/

             /*professional-experience start*/

     .professional-experience{
      width: 1% 5%;
     }

               /*professional-experience end*/

                   /**achievement-contact start*/

      .achievement{
  padding-right: 50px;
      }
    .contact button{
  width: 150px;
 }
 .contact-links{
  position: relative;
 }
  .media-button{
   position: absolute;
    left: 50%;
    margin-top: 200px;
    top: 50%;
    transform: translate(-50%,-50%);
  }
                      /**achievement-contact end*/

                       /**footer start*/
  .footer{
    margin-top: 12px;
  }
  .footer-manu a{
  display: inline;
  margin: 10px;

  }


                        /**footer end*/